body {
    margin: 0 auto;
    padding: 10px 0 50px 0;
    width: 60%;
    min-width: 800px;
    height: 100%;
    font-family: sans-serif;
    border-left: 30px solid;
    border-right: 30px solid;
    border-bottom: 30px solid;
    border-color: #039dfc;
    box-shadow: 5px -5px 10px 0 rgba(0, 0, 0, 0.2), -6px -5px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: 22px;
    color: #039dfc;
    transition: background-color 0.3s;
}


a {
    color: #e2e200;
    text-decoration: none;
}

.theme1 {
    white-space: nowrap;
    width: fit-content;
    margin: 60px auto 30px auto;
    padding: 10px;
    font-size: 60px;
    font-weight: bold;
    border-color: #039dfc;
    border: 5px solid;
}
.theme2 {
    white-space: nowrap;
    width: fit-content;
    margin: 60px auto 30px auto;
    padding: 10px;
    font-size: 50px;
    font-weight: bold;
    border-color: #039dfc;
    border: 5px solid;
}
.theme3 {
    white-space: nowrap;
    width: fit-content;
    margin: 30px auto 10px auto;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
}
.description1 {
    width: 80%;
    margin: 20px auto;
    font-size: 22px;
    font-weight: bold;
    text-align: justify;
}
.description2 {
    width: 75%;
    margin: 20px auto;
    font-size: 17px;
    font-weight: bold;
    text-align: left;
}
.center_container_1 {
    width: 100%;
    display: flex;
    justify-content: center;
}

.zoomable {
    transition: transform 0.3s;
}
.zoomable:hover {
    transform: scale(1.07, 1.07);
}











#topnav {
    position: fixed;
    top: 0;
    z-index: 10;
    transform: translateX(-1px);
    width: 60%;
    min-width: 800px;
    border-left: 1px solid;
    border-right: 1px solid;
    border-color: #039dfc;
    background-color: #039dfccc;
}
#topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    font-weight: bold;
    font-size: 20px;
    user-select: none;
}
#topnav a:hover, #topnav a:active {
    background-color: #5ec2ff;
}










#me1_img_container {
    position: relative;
    width: 80%;
    margin: 30px auto;
}
.me1_img {
    display: block;
    width: 100%;
    border: 15px solid;
    border-color: #039dfc;
    background-color: #039dfc;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#me1_img2 {
    display: none;
}
#contact_info_container1 {
    width: 50%;
    height: 100%;
    position:absolute;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
#contact_info1 {
    height: fit-content;
    z-index: 1;
    width: fit-content;
    white-space: nowrap;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    background-color: #ffffffee;
    padding: 25px 15px;
    border: 5px solid;
    border-color: #039dfc;
    transition: padding 0.3s;
}
#contact_info1:hover {
    padding: 30px 20px;
}
#contact_info2 {
    display: none;
    width: fit-content;
    white-space: nowrap;
    font-size: 21px;
    font-weight: bold;
    text-align: center;
    background-color: #ffffffee;
    padding: 25px 15px;
    margin: 0 auto 40px auto;
    border: 5px solid;
    border-color: #039dfc;
    transition: padding 0.3s;
}
#contact_info2:hover {
    padding: 30px 20px;
}










#canvas_container {
    width: 100%;
    margin: 40px 0 10px 0;
    display: flex;
    justify-content: center;
}
.click_me_sign {
    font-size: 22px;
    font-weight: bold;
    color: #5ec2ff;
    text-align: center;
    margin: 10px auto 40px auto;
}



.demo_description_container {
    width: 90%;
    padding: 0 5%;
    display:flex;
    justify-content: center;
    margin: 50px auto;
    background-color: #444444;
    border-color: #039dfc;
    border-top: 15px solid;
    border-bottom: 15px solid;
    border-left: 1px solid;
    border-right: 1px solid;
    transform: translateX(-1px);
    transition: background-color 0.3s;
}
.assignments-app-demo_container {
    width: fit-content;
    height: fit-content;
    margin: 20px auto;
}
.demo_header {
    white-space: nowrap;
    width: fit-content;
    margin: 0 auto;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
}
.demo_link {
    width: fit-content;
    color: #ffffff;
    background-color: #5ec2ff;
    font-weight: bold;
    font-size: 20px;
    user-select: none;
    text-align: center;
    margin: 10px;
    padding: 12px;
    border: 4px solid;
    border-color: #039dfc;
    border-radius: 10px;
    transition: transform 0.3s;
}
.demo_link:hover {
    transform: scale(1.07, 1.07);
}
.demo_video {
    height: 240px;
    margin: 10px auto;
    border: 4px solid;
    border-color: #039dfc;
    border-radius: 30px;
}
.demo_description {
    margin: 0;
    height: fit-content;
    align-self: center;
    padding: 30px 0 30px 30px;
    font-weight: bold;
    text-align: justify;
}










@media only screen and (max-width: 1200px) {
    body {
        width: calc(100% - 60px);
        min-width: 0;
    }
    #topnav {
        width: 100%;
    }
}

@media only screen and (max-width: 950px) {
    .demo_description_container {
        width: 80%;
        padding: 0 10%;
        display:block;
    }
    .demo_description {
        padding: 30px;
        font-weight: bold;
        text-align: justify;
    }
}

@media only screen and (max-width: 800px) {
    #me1_img_container {
        width: 100%;
    }
    .me1_img {
        border-left: 0 solid;
        border-right: 1px solid;
        border-color: #039dfc;
        transform: translateX(-1px);
        box-shadow: none;
    }
}

@media only screen and (max-width: 700px) {
    #me1_img1 {
        display: none;
    }
    #me1_img2 {
        display: block;
    }
    #contact_info {
        display: none;
    }
    #contact_info1 {
        display: none;
    }
    #contact_info2 {
        display: block;
    }
}